In [23]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

import math

from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df = df.drop(['Name', 'PassengerId', 'Parch', 'SibSp', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns')

In [15]:
sex_le = LabelEncoder()
df['sex_n'] = sex_le.fit_transform(df['Sex'])

In [19]:
age_median = math.floor(df['Age'].mean())
age_median

29

In [20]:
df['Age'] = df['Age'].fillna(age_median)

In [21]:
y = df.Survived
df

     Survived  Pclass     Sex   Age     Fare  sex_n
0           0       3    male  22.0   7.2500      1
1           1       1  female  38.0  71.2833      0
2           1       3  female  26.0   7.9250      0
3           1       1  female  35.0  53.1000      0
4           0       3    male  35.0   8.0500      1
..        ...     ...     ...   ...      ...    ...
886         0       2    male  27.0  13.0000      1
887         1       1  female  19.0  30.0000      0
888         0       3  female  29.0  23.4500      0
889         1       1    male  26.0  30.0000      1
890         0       3    male  32.0   7.7500      1

[891 rows x 6 columns]

In [40]:
X_train, x_test, Y_train, y_test = train_test_split(df.drop(['Survived', 'Sex'], axis = 'columns'), y, test_size = 0.2)

In [41]:
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [42]:
model.predict(x_test)

array([1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1], dtype=int64)

In [43]:
model.score(x_test, y_test)

0.7877094972067039